{% extends 'base.html' %}
{% block  content %}

<div style="width: 50%; margin: auto">
  {% if tasks %}
    <h1> Completed tasks </h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">status</th>
            <th scope="col">action</th>
          
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
             {% if task.is_completed %}
            <tr>
                <td>{{task.taskTitle}}</td>
                <td>{{task.taskDescription}}</td>
                <td>Completed</td>
                <td>
                   <a href="{% url 'delete_task_com' id=task.id%}" class = 'btn btn-danger btn-sm'>delete</a>
                </td>
              </tr>
              {%endif%}
            {%endfor%}
        </tbody>
      </table>
  {% else %}
  <h1>No completed task avilable</h1>
  {% endif %}    

</div>
{% endblock  %}